[Unit]
Description=Timer for Daily Chronos System Update

[Timer]
OnCalendar=daily
RandomizedDelaySec=4h
Persistent=true

[Install]
WantedBy=timers.target
